@page
@using EUSL_WebApp.Models;
@model EUSL_WebApp.Pages.ResultsModel
@{
    ViewData["Title"] = "Results";
    ViewData["ResultsActive"] = "active";
}

<h1>Results</h1>

@await Html.PartialAsync("_FilterPartial", Model.Seasons)

<div id="results">
    @await Html.PartialAsync("_ResultsPartial", Model.Results)
</div>
