@page
@using EUSL_WebApp.Models;
@model StandingsModel
@{
    ViewData["Title"] = "Standings";
    ViewData["StandingsActive"] = "active";
}

<h1>Standings</h1>
<br/>

@await Html.PartialAsync("_FilterPartial", Model.Seasons)

<div id="standings">
    @await Html.PartialAsync("_StandingPartial", Model.Standings);
</div>